ALLOWED_ORIGINS=['*']
DB_NAME=db_name
DB_USER=user
DB_PASS=password
DB_HOST=pg
DB_PORT=5432
FRONTEND_URL=
BACKEND_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=