pg_dump: warning: there are circular foreign-key constraints among these tables:
pg_dump: detail: users
pg_dump: detail: groups
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
pg_dump: warning: there are circular foreign-key constraints among these tables:
pg_dump: detail: users
pg_dump: detail: organizations
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alembic_version (version_num) FROM stdin;
c0fdddbf3f55
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: application_logs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.application_logs (id, level, message, user_id, entity, entity_id, created_at) FROM stdin;
\.


--
-- Data for Name: email_confirmations; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.email_confirmations (id, user_id, token, expires_at, created_at, new_email) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: file_attachments; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.file_attachments (id, task_id, filename, content_type, file_path, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.organizations (id, name, director_id, created_at, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.groups (id, name, manager_id, organization_id, created_at, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.notifications (id, recipient_id, message, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: subtasks; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.subtasks (id, task_id, title, is_done, created_at) FROM stdin;
\.


--
-- Data for Name: task_comments; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.task_comments (id, task_id, author_id, text, created_at) FROM stdin;
\.


--
-- Data for Name: task_permissions; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: task_templates; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.task_templates (id, title, description, organization_id, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: tasks_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.tasks_history (id, task_id, old_status, new_status, changed_at, changed_by) FROM stdin;
\.


--
-- Name: application_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.application_logs_id_seq', 1, false);


--
-- Name: email_confirmations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.email_confirmations_id_seq', 1, false);


--
-- Name: file_attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.file_attachments_id_seq', 1, false);


--
-- Name: groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.groups_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.organizations_id_seq', 1, false);


--
-- Name: subtasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.subtasks_id_seq', 1, false);


--
-- Name: task_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.task_comments_id_seq', 1, false);


--
-- Name: task_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.task_permissions_id_seq', 90, true);


--
-- Name: task_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.task_templates_id_seq', 1, false);


--
-- Name: tasks_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.tasks_history_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- PostgreSQL database dump complete
--

